[Unit]
Description=FamiFlix FastAPI Server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/FamiFlix
ExecStart=/var/www/FamiFlix/run_famiflix.sh
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
